body {
  background-color: #D2C7DB;
  font-family: arial, sans-serif;
  color: #141414;
}

.wrapper {
  background-color: #ffffff;
  width: 92%;
  max-width: 800px;
  margin: 0 auto;
  padding: 12px 20px;
}

h1 {
  margin-bottom: .5em;
}

h2, h3 {
  margin-bottom: .25em;
  margin-top: 1em;
}

h1, h2, h3 {
  color: #33202A;
}

blockquote{
  border-left: 4px solid #A86B8C;
  padding-left: 12px;
  background-color: #ffdddd;
  margin-left: 0;
}

.caption {
  font-style: italic;
  margin-top: .25em;
}

.image1 {
  text-align: center;
  margin: 2em 0;
}

a {
  color: #CCA43B;
}

img {
  max-width: 100%;
  height: auto;
}

ul{
  padding-left: 20px;
  margin-top: 8px;
}

p {
  line-height: 1.4em;
}

header {
  background-image: url(../imgaes1/simple-pattern.jpg);
}

footer.wrapper {
  text-align: right;
  padding-top: 20px 20px;
  border-top: 2px solid #D2C7DB;
}
